@font-face {
  font-family: 'MochiyPop';
  src: url('../vendors/fonts/MochiyPopPOne-Regular.ttf');
}

@font-face {
  font-family: 'CutiveMono';
  src: url("../vendors/fonts/CutiveMono-Regular.ttf");
}