<!-- <section id="homepage" class="homepage-active">
  <img src="../css/vendors/imgs/homepageImg.jpeg" alt="">
  <div id="homepage-jumbotron">
    <h1>Airbnb Listing Visualizer</h1>
  </div>
</section> -->