<div id="menu" class="hidden">
  <ul class="menu-item-ctn">
    <li id="menu-map" class="menu-item">Listing Map</li>
    <li id="menu-rou" class="menu-item">Search Routes</li>
    <li id="menu-sta" class="menu-item">Statistics</li>
    <li id="menu-abt" class="menu-item">About</li>
  </ul>
</div>
