<div id="menu" class="hidden">
  <figure id="menu-icon-ctn">
    <img id="menu-icon-img" src="../css/vendors/imgs/menu/maps.svg" alt="">
  </figure>
  <ul class="menu-item-ctn">
    <li id="menu-maps" class="menu-item">Listing Map</li>
    <li id="menu-route" class="menu-item">Search Routes</li>
    <li id="menu-stats" class="menu-item">Statistics</li>
    <li id="menu-about" class="menu-item">About</li>
  </ul>
</div>
