<!-- Modal -->
<div id="" class="modal hidden">
  <div class="modal-ctn">
    <div class="modal-bg"></div>
    <div class="modal-box">
      <div class="modal-box-head">

        <!-- <input class="modal-cb" type="checkbox" /> -->
        <button class="modal-cb">button</button>

        <h1>About this space</h1>
      </div>
    </div>
  </div>
</div>
