<!-- Navbar -->
<nav class="nav">
  <div id="nav-btn">
    <input id="nav-input" type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div id="nav-list">
    <div id="nav-brand">
      <img src="../css/vendors/imgs/icons/brand.png" alt="" />
      <div id="nav-brand-name">
        <h1>Airbnb VisualData</h1>
      </div>
    </div>
  </div>
</nav>
