<!-- sidebar -->
<div id="sbar" class="active">
  <ul>
    <div class="sbar-ctn">
      <li>
        <div class="listing-focus">
          <div class="listing-ctn"></div>
        </div>
      </li>
    </div>
  </ul>
</div>
