<!-- sidebar -->
<div id="sbar" class="active">
  <ul>
    <div class="sbar-ctn">
      <li id="sbar-map" class="sbar-listing active">
        <div class="listing-focus">
        </div>
      </li>

      <li id="sbar-rou" class="sbar-listing hidden">
        <div class="search-focus">
          <%- include("search.ejs") %> 
        </div>
      </li>

    </div>
  </ul>
</div>
