<!-- sidebar -->
<aside id="sbar" class="active">
  <div class="sbar-ctn">
    <section id="sbar-maps" class="sbar-listing active">
      <div class="listing-focus"></div>
    </section>

    <section id="sbar-route" class="sbar-listing hidden">
      <div class="search-focus"><%- include("search.ejs") %></div>
    </section>
  </div>
</aside>
