
/* Temporary position */
main {
  position: relative;
  display: flex;
}

#map {
  flex-grow: 1;
  height: calc(100vh - 2rem - 40px);
}

.clusterIcon {
  position: relative;
}

.clusterImg {
  position: absolute;
  top: -10px;
  left: -10px;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  line-height: 32px;
  text-align: center;
  font-family: Raleway-Bold;
  font-size: 1rem;
}