
#map {
  order: -1;
  flex-grow: 1;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
  height: calc(50vh - 2rem - 40px);
  width: 100vw;
}

.cluster-icon {
  position: relative;
}

.cluster-img {
  position: absolute;
  top: -10px;
  left: -10px;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  line-height: 32px;
  text-align: center;
  font-family: Raleway-Bold;
  font-size: 1rem;
}

@media screen and (min-width: 769px) {
  #map {
    order: 1;
    height: calc(100vh - 2rem - 40px);
    width: 60vw;
  }
}

@media screen and (min-width: 1025px) {
  #map {
    height: calc(100vh - 72px);
  }
}

/* @media screen and (min-width: 1441px) {
  #map {
    height: calc(100vh - 208px);
    /* height: calc(100vh - 72px); */
  }
} */