@import url("../base/fonts.css");

.nav {
  position: relative;
  /* affects x button badly */
  z-index: 314201;
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
  background-color: transparent;
}

.nav.nav-hidden {
  box-shadow: none;
}

#nav-list.nav-list-hidden {
  opacity: 0;
}

#nav-brand {
  display: flex;
}

#nav-brand img {
  height: 40px;
  width: auto;
}

#nav-brand-name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.3rem;
  font-family: Raleway-Bold;
  font-size: 1.5rem;
}

#nav-list  {
	position: relative;

  width: 100%;
	display: flex;
  justify-content: center;
	align-items: center;
  flex: 1;
}

/* .nav-ul {
	display: flex;
}

.nav-ul li {
	margin: 0 0.8rem;
	padding-bottom: 0.5rem;
	font-family: MochiyPop;
  font-size: 1rem;
	border-bottom: 6px solid white;
}

.nav-ul li:hover {
	box-sizing: border-box;
	border-bottom: 6px solid black;
}  */

/* @media screen and (max-width: 590px) {
  .nav {
    justify-content: flex-start;
  }

	#nav-list .nav-ul  {
		display: none;
	}
} */

#nav-btn {
  position: relative;
  left: 10;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#nav-btn input {
  position: absolute;
  top: 5px;
  left: -5px;

  display: block;
  opacity: 0;
  width: 30px;
  height: 30px;

  cursor: pointer;
}

#nav-btn span {
  margin-top: 3px;
  
  width: 25px;
  height: 4px;

  display: block;
  background-color: black;
  border-radius: 24px;

  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(.89,.05,.05,1.02),
    background 0.5s cubic-bezier(.89,.05,.05,1.02), opacity 0.55s ease;
}



#nav-btn span:first-child {
  transform-origin: 0% 0%;
}

#nav-btn span:nth-last-child(3) {
  transform-origin: 0% 100%;
}


#nav-btn input:checked ~ span {
  opacity: 1;
  transform: rotate(-45deg) translate(-2px, -1.5px);
  background: black;
}


#nav-btn input:checked ~ span:nth-last-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#nav-btn input:checked ~ span:nth-last-child(3) {
  transform: rotate(45deg) translate(-2px, -1px);
}


/* @media screen and (min-width: 591px) {
	#nav-btn  {
		display: none;
	}
}

#nav-cart {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

#nav-cart img {
  display: block;
  height: 28px;
  width: auto;
} */