@import url("../base/fonts.css");

.nav {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 1.8rem 2rem 2rem 2rem;
  background-color: transparent;
}

#nav-brand {
  display: flex;
}

#nav-brand img {
  height: 40px;
  width: auto;
}

#nav-brand-name {
  margin-left: 0.3rem;
  font-family: MochiyPop;
  font-size: 0.8rem;
}

#nav-list  {
	position: relative;
  width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/* .nav-ul {
	display: flex;
}

.nav-ul li {
	margin: 0 0.8rem;
	padding-bottom: 0.5rem;
	font-family: MochiyPop;
  font-size: 1rem;
	border-bottom: 6px solid white;
}

.nav-ul li:hover {
	box-sizing: border-box;
	border-bottom: 6px solid black;
} */

@media screen and (max-width: 590px) {
  .nav {
    justify-content: flex-start;
  }

	#nav-list .nav-ul  {
		display: none;
	}
}

#nav-btn {
  position: relative;
  z-index: 10;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#nav-btn input {
  position: absolute;
  top: 10px;
  z-index: 11;

  display: block;
  opacity: 0;
  width: 20px;
  height: 20px;

  cursor: pointer;

  background-color: orange;
}

#nav-btn span {
  margin-top: 3px;
  /* Ok this sucks */
  width: 25px;
  height: 4px;

  display: block;
  background-color: black;
  border-radius: 24px;

  /* 50% 50% is center of object */
  transform-origin: 4px 0px;
  /* Note sure about background */
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#nav-btn span:first-child {
  transform-origin: 0% 0%;
}

#nav-btn span:nth-last-child(3) {
  transform-origin: 0% 100%;
}

/* X is wonky as shit */
#nav-btn input:checked ~ span {
  opacity: 1;
  transform: rotate(-45deg) translate(-2px, -1.5px);
  background: #232323;
}

/* Hide the middle one */
#nav-btn input:checked ~ span:nth-last-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#nav-btn input:checked ~ span:nth-last-child(3) {
  transform: rotate(45deg) translate(-2px, -1px);
}


@media screen and (min-width: 591px) {
	#nav-btn  {
		display: none;
	}
}

#nav-cart {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

#nav-cart img {
  display: block;
  height: 28px;
  width: auto;
}