#modal {
  /* position: relative; */
  position: absolute;
  display: block;
}

#modal.hidden {
  display: none;
}

.modal-ctn {
  position: absolute;  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 40px - 2rem);
} 

.modal-bg {
  position: inherit;
  z-index: 314158;
  opacity: 0.7;
  width: 100%;
  height: calc(100vh - 40px - 2rem);
  background-color: rgba(0,0,0);
}

.modal-box {
  position: inherit;
  z-index: 314159;
  opacity: 1;
  width: 80vw;
  height: calc(100vh - 40px - 3.8rem - 20vh);
  padding: 1rem;
  border-radius: 24px;
  background-color: white;
  font-family: Raleway-Regular;
  font-size: 1rem;
}

.modal-btn {
  position: relative;
  z-index: 314200;

  display: block;
  border: none;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;

  cursor: pointer;
  background-color: transparent;
}

.modal-btn:hover {
  border-radius: 100%;
  background-color: rgba(118, 118, 118, 0.3);
}

.modal-box-x {
  position: absolute;
  z-index: 314160;
  left: 18px;
  width: 70px;
  height: 70px;
}

.modal-box-head > h1 {
  padding: 1rem 0rem;
  font-family: Raleway-Bold;
  font-size: 1.5rem;
}

.modal-box-text {
  height: calc(100% - 126px);
  overflow: scroll;
}

.modal-box b {
  display: block;
  font-family: Raleway-Bold;
  font-size: 1.2rem;
}

.modal-box-amen {
  display: flex;
  align-items: center;
}

.modal-box-text-item > img {
  width: 80px;
  height: 80px;
}


.modal-box-review {
  margin: 1rem;
}

.modal-box-review > h4 {
  font-family: Raleway-Bold;
  font-size: 1.2rem;
}

.modal-box-review > p {
  font-family: Raleway-Regular;
  font-size: 1rem;
}

@media screen and (min-width: 769px) {
  .modal-box {
    padding: 2rem;
  }

  .modal-box-head > h1 {
    font-size: 2.5rem;
  }

  .modal-box b,
  .modal-box-review > h4 {
    font-size: 1.8rem;
  }

  .modal-box-review > p {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1025px) {
  .modal-box {
    padding: 2rem;
    font-size: 1.4rem;
  }

  .modal-box-head > h1 {
    font-size: 2.5rem;
  }

  .modal-box-text-item > img {
    width: 120px;
    height: 120px;
  }

  .modal-box b,
  .modal-box-review > h4 {
    font-size: 1.8rem;
  }

  .modal-box-review > p {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1441px) {
  .modal-box {
    padding: 4rem;
    font-size: 1.4rem;
  }

  .modal-btn {
    width: 60px;
    height: 60px;
  }

  .modal-box-head > h1 {
    font-size: 3rem;
  }

  .modal-box-text-item > img {
    width: 140px;
    height: 140px;
  }

  .modal-box b,
  .modal-box-review > h4 {
    font-size: 2rem;
  }

  .modal-box-review > p {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 2559px) {
  .modal-box {
    padding: 4rem;
    font-size: 2.5rem;
  }

  .modal-btn {
    width: 60px;
    height: 60px;
  }

  .modal-box-head > h1 {
    font-size: 4.5rem;
  }

  .modal-box-text-item > img {
    width: 200px;
    height: 200px;
  }

  .modal-box b,
  .modal-box-review > h4 {
    font-size: 3.5rem;
  }

  .modal-box-review > p {
    font-size: 2.5rem;
  }
}