@import url("base/index.css");
@import url("components/index.css");
@import url("layout/index.css");

body#ock {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  background: white;
}

#ock {
  position: relative;
}

#ock.hidden {
  display: none;
}

#ock.active {
  overflow: hidden;
}
